/* everything defaults to default */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
}
/* laying down the law */ 
body {
    background-color: #ececec; 
    display: grid;
    grid-template-columns: 1fr;
}
/*it's not buttons it's just a sticker over the plasic*/
header {
    background-color: transparent;
    background: url('word-header.png');
    background-repeat: no-repeat;
    width: 100vw;
    height: 160px;
    margin-bottom: 1em;
}

/* document panel styling, modified from https://cssdeck.com/blog/word-style-outline/ */
#docpg {	
	background-color: #ffffff;
    margin: 0 auto;
    margin-top: 0 auto;
    margin-bottom: 1em;
    width: 33em;
    min-height: 11in;
    max-height: 99999999999999px;
	border: 1px solid #d8d8d8;
	border-right-width: 3px;
	border-bottom-width: 3px;
	padding: 5em 6em;
    font-family: "Times New Roman", Times, serif; 
    line-height: 1.5;
}
/* media styling matching page width */ 
#docpg img, video {
    width: 33em;
}
/*titles*/ 
#docpg h1{
font-weight: bold;
}

/* keeping embeds clean */
iframe {
    overflow: hidden;
}

/*superscript formatting for my measly single footnote from https://stackoverflow.com/questions/501671/superscript-in-css-only#501689 */ 
.superscript { position: relative; top: -0.5em; font-size: 80%; 
}


/* highlight color */
::selection {
    background-color:yellow;
    color: black;
}

/* link color */
a:link { color:#0000EE;}
a:visited { color: #551A8B;}
a:hover {color: red;}
a:active{color: magenta;
}

/* rough mobile formatting */ 
@media only screen and (max-device-width: 760px) {
    body {
        background-color: #ececec; 
        display: grid;
        grid-template-columns: 1fr;
        width: 100vw;
        overflow-x: hidden;
    }
    header {
        background-color: transparent;
        background: url('word-header.png');
        background-repeat: no-repeat;
        width: 100vw;
        height: 160px;
        margin-bottom: 1em;
    }    
    #docpg {	
	    background-color: #ffffff;
        margin: 0;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 1em;
        width: calc(100vw - 22px);
        min-height: 11in;
	    border: 1px solid #d8d8d8;
	    border-right-width: 3px;
	    border-bottom-width: 3px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: "Times New Roman", Times, serif; 
        line-height: 1.5;
    }
    p, h1, a, iframe {
        width: calc(100% - 20px);
        padding-left: 10px;
        padding-right: 10px; 
    }
    #docpg img, video {
        width: calc(100% - 20px);
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* header switch-out method="stupid" */
@media (max-width: 1408px) {
    header {
        background: url('word-header2.png');
        height: 159px;
    }
}
@media (max-width: 1337px) {
    header {
        background: url('word-header3.png');
        height: 161px;
    }
}
@media (max-width: 1263px) {
    header {
        background: url('word-header4.png');
        height: 162px;
    }
}
@media (max-width: 1115px) {
    header {
        background: url('word-header5.png');
        height: 160px;
    }
}
@media (max-width: 985px) {
    header {
        background: url('word-header6.png');
        height: 158px;
    }
}
@media (max-width: 867px) {
    header {
        background: url('word-header7.png');
        height: 156px;
    }
}
@media (max-width: 793px) {
    header {
        background: url('word-header8.png');
        height: 159px;
    }
}
@media (max-width: 639px) {
    header {
        background: url('word-header9.png');
        height: 160px;
    }
}